/* Hero.css */

.p-hero-subtitle-container {
  mask-image: linear-gradient(
    to right,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
  /* Ensures gradient fades out at edges */
}

.p-hero-subtitle {
  background: linear-gradient(
    90deg,
    #0d9488, /* Teal-800 - A deep, complementary green */
    #34d399, /* Emerald-400 - Your primary accent color */
    #22d3ee, /* Cyan-400 - A bright, energetic highlight */
    #34d399, /* Emerald-400 - Returning to the primary accent */
    #0d9488  /* Teal-800 - Fading back to the deep green */
  );
  background-size: 300% 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: flow-gradient 8s ease-in-out infinite;
}

@keyframes flow-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



/* Keyframes for the continuous scrolling effect */
@keyframes scroll-gradient {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
    /* Scrolls half the content width */
  }
}
