@import "tailwindcss";
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme */

/* Smooth transitions for theme change */
body {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}
